.header_line{
	position: fixed;
	height: 15%;
	width: 10%;
	background-color: white;
	opacity: 0.3;

}
.header_content{
	display: flex;
	position: fixed;
	justify-content: space-between;
	height: 15%;
	width: 10%;
}
.search{
	margin-top: 20px;
	margin-left: 40px;
	width: 220px;
}

.header_title_main{
	font-size: 50px;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}
.header_title_sub{
	margin-top: 0px;
	font-size: 15px;
	text-align: center;
	color: white;
}
.white_line{
	height: 2px;
	background-color: white;
	width: 100%;
}
.white_line_headline{
	height: 2px;
	background-color: white;
	width: 40%;
	margin-top: 0px;
	margin-left: 30%;
	margin-bottom: 50px;
}
.white_line_comments{
	height: 2px;
	background-color: white;
	width: 100%;
	margin-top: 0px;
}

.menu_bar{
	position: fixed;
	width:12%;
	height: 110%;
	background-color: white;
	opacity: 0.3;
}
.menu_content{
	position: fixed;
	width: 12%;
	height: 100%;
	justify-content: space-around;
}
.menu_title{
	align-self: top;
}
.menu_list{
	text-align: center;
	font-size: 20px;
}
.menu_text{
	font-size: 30px;
}
#body_frontpage{

}
.body{

}

.body_contact{
	margin-left: 12%;
}
.background_image {
  	z-index: -1;
  	position: fixed;	
  	width: 100%;
 	height: 100%;
  	background-image: url("bilder/bergen-norway.jpg");
  	background-size: cover;
  	filter: blur(10px);
  	
}

.page_headline{
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: "Custom";

}

.thumbnails{
	height: 400px;
	width: 300px;
	border:2px solid white ;
	margin-bottom: 10px;
	margin-left:10px;
	margin-right:10px;
	margin-top: 10px;
}

.profilpic{
	display: flex;
	width: 45%;
	border: 2px solid white;
}
.about_us{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-left: 10%;
}
.about_us_table{
	margin-top: 130px;
	font-size: 20px;
	color: white;
}

.kontakt_skjema{
	display: flex;
	width: 50%;
	justify-content: space-between;
	margin-left: 25%;
}

.contact_information{
	display: inline-block;
}

.contact_information_table{
	font-size: 20px;
	color: white;
	margin-top: 40%;
}


.login_form{
	text-align: center;
	width: 100%;

}
.label_text{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.tidligere_arbeid_link{
	font-size: 50px;
	text-align: center;
	display: block;
}

.tidligere_link{
	width: 1500px;
	height: 600px;
	margin-left: 300px;
	display: flex;
}

.CMDB_link{
	width: 500px;
	border: 2px solid white;
	margin-left: 0;
	display: block;
}

.annet_link{
	width: 500px;
	border: 2px solid white;
	margin-left: 200px;
	display: block;
}

.kodde_link{
	width: 500px;
	border: 2px solid white;
	margin-left: 200px;
	display: block;
}

.thumbnails_link{
	height: 400px;
	width: 300px;
	border:2px solid white;
	display: block;
	margin-left: 9%;
}

.map {
	width: 100%;
	height: 400px;
	border: 2px solid white;
}


#comments{
	width: 40%;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-left: 30%;
}


a{
	text-decoration: none;
	color: white;
}
a:hover{
	font-weight: bold;
}
a:visited{
	color: white;
}
body{
	margin:0px;
	font-family: "Custom","Arial";
}
@font-face{
	font-family: "Custom";
	src:url(fonts/raleway_thin-webfont.ttf);
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

	#container{
		width: 100%;
	}

	img{
		max-width:100%;
	}

	h1,h2{
		width: auto;
	}

	#menu_content{
		width: auto;
	}

	#menu_title{
		width: auto;
	}

	#menu_list{
		width: auto;
	}

	#white_line{
		width: auto;
	}
}















































